<html>
	<head>
		<title>
			CQ
		</title>
		<style>
			.main
			{
				top:100px;
				left:250px;
				width:1138;
				height:547px;
				border: solid 2px #e2e5e1;
				position:relative;
				font-family:"Helvetica";
				box-shadow : 10px 10px 10px 5px grey;
			}
			#user_img
			{
				left:10px;
				top:5px;
				border:solid 1px #e2e5e1;
				border-radius:4px;
				height:150px;
				width:150px;
				position:relative;
			}
			#d1
			{
				border:solid 1px #e2e5e1;
				width:526px;
				height:85px;
				top:40px;
				left:25px;
				border-radius:4px;
				position:relative;
			}
			#d2
			{
				border:solid 1px #e2e5e1;
				width:526px;
				top:-47px;
				left:600px;
				height:85px;
				border-radius:4px;
				position:relative;
				
			}
			#d3
			{
			border:solid 1px #e2e5e1;
				width:526px;
				height:85px;
				top:-20px;
				left:25px;
				border-radius:4px;
				position:relative;
			}
			#d4
			{
			border:solid 1px #e2e5e1;
				width:526px;
				top:-107px;
				left:600px;
				height:85px;
				border-radius:4px;
				position:relative;
				<!--box-shadow : 10px 10px 25px 1px grey;-->
			}
			#d5
			{
			border:solid 1px #e2e5e1;
				width:526px;
				height:85px;
				top:-80px;
				left:25px;
				border-radius:4px;
				position:relative;
			}
			#d6
			{
			border:solid 1px #e2e5e1;
				width:526px;
				top:-167px;
				left:600px;
				height:85px;
				border-radius:4px;
				position:relative;
				
			}
			#d11
			{
				background-color:#F5F5F5;
				padding :10px 15px;
				width:496.5px;
			}
			#d12
			{
				padding :10px 15px;
				color:#575757;
				width:496.5px;
			}
		</style>
	</head>
	<body>
	<% include Home %>
	<div class="main">
		<img src="default_user.png" id="user_img">
		<div id="d1">
			<div id="d11">
				Email
			</div>
			<div id="d12">
				admin@cq.com
			</div>
		</div>
		<div id="d2">
			<div id="d11">
				Gender
			</div>
			<div id="d12">
				admin@cq.com
			</div>
		</div>
		<div id="d3">
			<div id="d11">
				Name
			</div>
			<div id="d12">
				admin@cq.com
			</div>
		</div>
		<div id="d4">
			<div id="d11">
				City
			</div>
			<div id="d12">
				admin@cq.com
			</div>
		</div>
		<div id="d5">
			<div id="d11">
				D.O.B
			</div>
			<div id="d12">
				admin@cq.com
			</div>
		</div>
		<div id="d6">
			<div id="d11">
				Phone
			</div>
			<div id="d12">
				admin@cq.com
			</div>
		</div>
		</div>
	</body>
</html>